.remove-btn {
  background-color: lightblue;
  border: 0;
  padding: 6px;
  margin-left: 6px;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 3px;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: lightblue;
}
.purple {
  background-color: purple;
  color: white;
}
.yellow {
  background-color: yellow;
}
.bold {
  font-weight: bold;
}
